{% extends 'students/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card-box">
            <h3 class="mb-3">📅 Mark Attendance</h3>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>Student</label>
                    {{ form.student }}
                </div>

                <div class="mb-3">
                    <label>Date</label>
                    {{ form.date }}
                </div>

                <div class="mb-3">
                    <label>Status</label>
                    {{ form.status }}
                </div>

                <button class="btn btn-success w-100">Save Attendance</button>
            </form>

        </div>

    </div>
</div>

{% endblock %}